/*slider.css*/
.general-slider.swiper {
  width: 100%;
  height: 100%;
}

.general-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.general-slider .swiper-slide:hover {
  cursor: grab;
}

.general-slider .swiper-slide:active {
  cursor: grabbing;
}

.general-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.objectFit {
  width: 100%;
  object-fit: cover;
}

.general-slider.swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #000;
  border: 2px solid #fff;
  outline: 2px solid #000;
}
.general-slider.swiper .swiper-pagination-bullets-dynamic {
  font-size: 30px;
}

@media (max-width: 599px) {
  .general-slider.swiper .swiper-slide.general-slide img {
    display: none;
  }
}
